@font-face {
    font-family: 'ibm';
    src: url(/fonts/IBMPlexSerif-Regular.ttf);
}

.header {
    width: 100%;
    height: 50px;
    background-color: #514c1f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-container {
    padding: 12px;
    padding-left: 30px;
}

.link-container {
    padding-right: 20px;
    font-size: large;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20vw;
}

body {
    background-color: rgb(215, 222, 152);
    color: #131413;
    font-family: 'ibm';
}

h1 {
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 30px;
}


p {
    font-size: 1rem;
    font-weight: 50;
}

a {
    color: #a19100;
    text-decoration: none;
    font-weight: 700;
}

.intro {
    margin-bottom: 20px;
}

.featured {
    margin: 30px 0 50px;
    padding-bottom: 30px;
    border-bottom: 0.5px solid #999999;
}

.project {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10 vh;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.4rem;
    font-weight: 700;
}

.project-tag {
    font-size: 0.9rem;
    color: #929f8c;
    font-style: italic;
}

.project-images {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 25px;
    border: 10px solid rgb(244, 246, 226);
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-image.device {
    flex: 0 0 auto;
    max-width: 100%;
    width: 100%;
    flex: 1 1 100%;
}