@font-face {
    font-family: 'ibm';
    src: url(/fonts/IBMPlexSerif-Regular.ttf);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20vw;
}

body {
    background-color: rgb(245, 255, 235);
    color: #141313;
    font-family: 'ibm';
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 30px;
}

p {
    font-size: 1rem;
    font-weight: 50;
}

.intro {
    margin-bottom: 20px;
}

.featured {
    margin: 30px 0 50px;
    padding-bottom: 30px;
    border-bottom: 0.5px solid #999999;
}

.project {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10 vh;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.project-tag {
    font-size: 0.9rem;
    color: #999;
    font-style: italic;
}

.project-images {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    cursor: pointer;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-image.device {
    flex: 0 0 auto;
    max-width: 100%;
    width: 100%;
    flex: 1 1 100%;
}